@model LightRailWeb.Models.LightRailEntity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LightRailEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Seq" class="control-label"></label>
                <input asp-for="Seq" class="form-control" />
                <span asp-validation-for="Seq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalVolume" class="control-label"></label>
                <input asp-for="TotalVolume" class="form-control" />
                <span asp-validation-for="TotalVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyAvg" class="control-label"></label>
                <input asp-for="DailyAvg" class="form-control" />
                <span asp-validation-for="DailyAvg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HolidayAvg" class="control-label"></label>
                <input asp-for="HolidayAvg" class="form-control" />
                <span asp-validation-for="HolidayAvg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformSwipe" class="control-label"></label>
                <input asp-for="PlatformSwipe" class="form-control" />
                <span asp-validation-for="PlatformSwipe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnboardSwipe" class="control-label"></label>
                <input asp-for="OnboardSwipe" class="form-control" />
                <span asp-validation-for="OnboardSwipe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QRCode" class="control-label"></label>
                <input asp-for="QRCode" class="form-control" />
                <span asp-validation-for="QRCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
